/* Fixes Encounter Builder header to be visible */
.svelte-rwomh thead {
    color: #283846;
    background-color: #312C2C;
}

/* Hides Custom Frames icons in the sidebar */
.clickable-icon.side-dock-ribbon-action:has(> .svg-icon.lucide-shield) {
    display: none;
}

/* Fixes Cards displaying correctly */
.callout[data-callout~=cards] > .callout-title {
    display: none;
}