.nav-folder-title[data-path="1. DM Screen"],
.nav-folder-title[data-path="1. DM Screen"] + .nav-folder-children {
	--folder-icon: "\e982";
	--folder-font: var(--rpg);
	
	/*--folder-vertical-alignment: -2px; */ 
	/* Optional, helps with aligning icons vertically */
	
	/* --folder: #000000; Folder color here */
	/* --accent-color: 0, 0, 0; RGB Values Only: ###, ###, ### */
}

.nav-folder-title[data-path="2. Scratch Notes"],
.nav-folder-title[data-path="2. Scratch Notes"] + .nav-folder-children {
	--folder-icon: "\f249";
	--folder-font: var(--fa5);
	
	/*--folder-vertical-alignment: -2px; */ 
	/* Optional, helps with aligning icons vertically */
	
	/* --folder: #000000; Folder color here */
	/* --accent-color: 0, 0, 0; RGB Values Only: ###, ###, ### */
}

.nav-folder-title[data-path="3. The Party"],
.nav-folder-title[data-path="3. The Party"] + .nav-folder-children {
	--folder-icon: "\f0c0";
	--folder-font: var(--fa5);
	
	/*--folder-vertical-alignment: -2px; */ 
	/* Optional, helps with aligning icons vertically */
	
	/* --folder: #000000; Folder color here */
	/* --accent-color: 0, 0, 0; RGB Values Only: ###, ###, ### */
}

.nav-folder-title[data-path="4. Session Journal"],
.nav-folder-title[data-path="4. Session Journal"] + .nav-folder-children {
	--folder-icon: "\f02d";
	--folder-font: var(--fa5);
	
	/*--folder-vertical-alignment: -2px; */ 
	/* Optional, helps with aligning icons vertically */
	
	/* --folder: #000000; Folder color here */
	/* --accent-color: 0, 0, 0; RGB Values Only: ###, ###, ### */
}

.nav-folder-title[data-path="4. World Almanac"],
.nav-folder-title[data-path="4. World Almanac"] + .nav-folder-children {
	--folder-icon: "\f57d";
	--folder-font: var(--fa5);
	
	/*--folder-vertical-alignment: -2px; */ 
	/* Optional, helps with aligning icons vertically */
	
	/* --folder: #000000; Folder color here */
	/* --accent-color: 0, 0, 0; RGB Values Only: ###, ###, ### */
}

.nav-folder-title[data-path="5. Mechanics"],
.nav-folder-title[data-path="5. Mechanics"] + .nav-folder-children {
	--folder-icon: "\f7d9";
	--folder-font: var(--fa5);
	
	/*--folder-vertical-alignment: -2px; */ 
	/* Optional, helps with aligning icons vertically */
	
	/* --folder: #000000; Folder color here */
	/* --accent-color: 0, 0, 0; RGB Values Only: ###, ###, ### */
}

.nav-folder-title[data-path="z_Assets"],
.nav-folder-title[data-path="z_Assets"] + .nav-folder-children {
	--folder-icon: "\f302";
	--folder-font: var(--fa5);
	
	/*--folder-vertical-alignment: -2px; */ 
	/* Optional, helps with aligning icons vertically */
	
	/* --folder: #000000; Folder color here */
	/* --accent-color: 0, 0, 0; RGB Values Only: ###, ###, ### */
}

.nav-folder-title[data-path="z_Templates"],
.nav-folder-title[data-path="z_Templates"] + .nav-folder-children {
	--folder-icon: "\f15c";
	--folder-font: var(--fa5);
	
	/*--folder-vertical-alignment: -2px; */ 
	/* Optional, helps with aligning icons vertically */
	
	/* --folder: #000000; Folder color here */
	/* --accent-color: 0, 0, 0; RGB Values Only: ###, ###, ### */
}

/*----Folder Styling----*/
.nav-folder-children,
.nav-folder-title {
    --explorer-root-folder-background: rgba(var(--accent-color), 0.4);
    --explorer-root-background: rgba(var(--accent-color), 0.2);
    --explorer-root-folder-color: var(--folder);
    --explorer-root-folder-open-color: var(--folder);
    
    --folder-open: var(--folder);
    --explorer-root-border-color: var(--folder);
    --nav-indentation-guide-color: var(--folder);
}
/*.obsidian-icon-folder-icon { color: var(--folder); }*/
.theme-light .nav-folder-title {
    --explorer-root-folder-open-color: rgb(var(--accent-color));
    --folder-open: rgb(var(--accent-color));
}

.nav-folder-title .nav-folder-title-content::before {
    text-align: center;
    margin-right: 4px;
    vertical-align: var(--folder-vertical-align);
}